body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.container {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.option:hover,
.option.clicked {
  transform: translate(
    calc(100vw * var(--random-x)),
    calc(100vh * var(--random-y))
  );
}
